<mat-toolbar>
  <mat-toolbar-row class="toolbar-firts">
    <a routerLink="/home" color="primary">
      <mat-icon>home</mat-icon> Home
    </a>
    <a>
      <mat-icon>tv</mat-icon> TV-shows
    </a>
    <a [matMenuTriggerFor]="movies">
      <mat-icon>movie</mat-icon> Movies
    </a>
    <mat-menu #movies="matMenu">
      <a mat-menu-item routerLink="/movies/populars">Populars</a>
      <a mat-menu-item routerLink="/movies/nowplaying">Now Playing</a>
      <a mat-menu-item routerLink="/movies/upcoming">Upcoming</a>
      <a mat-menu-item routerLink="/movies/toprated">Top Rated</a>
    </mat-menu>
    <a [matMenuTriggerFor]="genre">
      <mat-icon>list</mat-icon> Genres
    </a>
    <mat-menu #genre="matMenu">
        <button mat-menu-item *ngFor="let gen of genres" routerLink="/genre/{{gen.id}}">{{gen.name}}</button>
    </mat-menu>


     <span class="spacer"></span>
     <div class="search">
      <input type="text" placeholder="search" [(ngModel)]="search_string" />
      <button mat-raised-button (click)="search()"><mat-icon>search</mat-icon></button>
    </div>

  </mat-toolbar-row>
</mat-toolbar>
